In [2]:
import pandas as pd
import numpy as np

In [18]:
# create a series using a numpy random number generator

s = pd.Series(np.random.randn(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])  
s

a    0.453146
b   -2.216569
c    0.198284
d    0.293784
e   -0.136758
f   -1.036415
g   -0.330025
dtype: float64

In [4]:
# head of series

pd.Series.head(s)

a    0.937554
b   -0.361694
c   -1.187951
d    0.910939
e    0.586732
dtype: float64

In [5]:
# tail of series

pd.Series.tail(s)

c   -1.187951
d    0.910939
e    0.586732
f   -0.035120
g    0.923649
dtype: float64

In [6]:
# summary stats

pd.Series.describe(s)

count    7.000000
mean     0.253444
std      0.816481
min     -1.187951
25%     -0.198407
50%      0.586732
75%      0.917294
max      0.937554
dtype: float64

In [7]:
# select by location c to g

s.loc['c':]

c   -1.187951
d    0.910939
e    0.586732
f   -0.035120
g    0.923649
dtype: float64

In [19]:
# select just b

s.loc['b']

-2.2165693010712935

In [9]:
# slice for rows 1-3

s[:3]

a    0.937554
b   -0.361694
c   -1.187951
dtype: float64

### Boolean indexing

In [10]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [ ]:
s[(s.columns['a']) & (s.columns['c']) & (s.columns['e']]

In [11]:
# find the values that are > 0. 

s[s > 0]

4    1
5    2
6    3
dtype: int64

In [12]:
# find the values that are < -1 or > 0.5

s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [13]:
# find the values that are not < 0.

s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

In [14]:
# find the values that are < 2

s[s < 2]

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64