In [303]:
import pandas as pd
import numpy as np
import seaborn as sns
import ast
from sqlalchemy import create_engine
%matplotlib inline

In [304]:
engine = create_engine('sqlite:///hs_sims1.db')

df = pd.read_sql('SELECT * FROM EVENTS', con = engine)

In [305]:
del df['index']

In [306]:
df.dtypes

event_key      object
event_value    object
game_id         int64
player         object
timestamp      object
dtype: object

In [307]:
for i in range(len(df.event_key)):
    if df.event_key[i] in ['deck', 'cards_mulliganed', 'cards_kept']:
        df.event_value[i] = df.event_value[i].encode('utf-8')
        df.event_value[i] = df.event_value[i].replace('<', '')
        df.event_value[i] = df.event_value[i].replace('>', '')
        df.event_value[i] = df.event_value[i].replace('(', '')
        df.event_value[i] = df.event_value[i].replace(')', '')
        df.event_value[i] = df.event_value[i].replace('Minion ', '')
        df.event_value[i] = df.event_value[i].replace('Spell ', '')
        df.event_value[i] = df.event_value[i].replace('Weapon ', '')
        df.event_value[i] = ast.literal_eval(df.event_value[i])

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

SyntaxError: invalid syntax (<unknown>, line 1)

In [104]:
for i in range(len(df.event_key)):
    if df.event_key[i] in ['deck', 'cards_mulliganed', 'cards_kept']:
        df.event_value[i] = ast.literal_eval(df.event_value[i])

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [108]:
df.head()

,event_key,event_value,game_id,player,timestamp
0,deck,"[FP1_027, EX1_509, NEW1_029, OG_134, GVG_071, ...",1,player1,2016-06-08 18:47:53:334438
1,deck,"[GVG_081, AT_106, OG_090, AT_070, EX1_007, CS2...",1,player1,2016-06-08 18:47:53:370128
2,deck,"[FP1_015, OG_133, EX1_572, EX1_558, NEW1_041, ...",1,player1,2016-06-08 18:47:53:374504
3,deck,"[CS2_226, NEW1_019, CS2_186, BRM_033, FP1_030,...",1,player1,2016-06-08 18:47:53:381442
4,deck,"[EX1_556, EX1_170, EX1_011, OG_254, EX1_044, G...",1,player1,2016-06-08 18:47:53:411713

In [214]:
def expand_decks(df):
    ndf = pd.concat([df]*len(df.event_value.values[0]), ignore_index=True)
    ndf['event_value'] = df.event_value.values[0]
    ndf['event_iter'] = range(ndf.shape[0])
    return ndf

In [223]:
df.event_key.unique()

array([u'deck', u'deck_cost', u'num_minions', u'num_spells',
       u'num_weapons', u'player1_class', u'player2_class', u'first_player',
       u'cards_mulliganed', u'cards_kept', u'turn_begins', u'max_mana',
       u'avg_hand_cost', u'mana_used', u'turn_end', u'hero_health',
       u'hero_power', u'lost', u'overdraw'], dtype=object)

In [215]:
decks_times = df.loc[df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
decks = decks_times.groupby('timestamp').apply(expand_decks).reset_index(drop=True)

In [216]:
decks.head(10)

,event_key,event_value,game_id,player,timestamp,event_iter
0,deck,FP1_027,1,player1,2016-06-08 18:47:53:334438,0
1,deck,EX1_509,1,player1,2016-06-08 18:47:53:334438,1
2,deck,NEW1_029,1,player1,2016-06-08 18:47:53:334438,2
3,deck,OG_134,1,player1,2016-06-08 18:47:53:334438,3
4,deck,GVG_071,1,player1,2016-06-08 18:47:53:334438,4
5,deck,EX1_583,1,player1,2016-06-08 18:47:53:334438,5
6,deck,EX1_620,1,player1,2016-06-08 18:47:53:334438,6
7,deck,EX1_009,1,player1,2016-06-08 18:47:53:334438,7
8,deck,GVG_108,1,player1,2016-06-08 18:47:53:334438,8
9,deck,OG_300,1,player1,2016-06-08 18:47:53:334438,9

In [ ]:
nodecks = df[~df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
nodecks['event_iter'] = 0
expanded = pd.concat([decks, nodecks], ignore_index=True)
expanded.sort_values(['event_key','event_iter','player','timestamp'], inplace=True)

In [7]:
df.event_key.unique()

array([u'deck', u'deck_cost', u'num_minions', u'num_spells',
       u'num_weapons', u'player1_class', u'player2_class', u'first_player',
       u'cards_mulliganed', u'cards_kept', u'turn_begins', u'max_mana',
       u'avg_hand_cost', u'mana_used', u'turn_end', u'hero_health',
       u'hero_power', u'lost', u'overdraw'], dtype=object)

In [39]:
df.ix[6, 0]

True

In [55]:
df.ix[7]

event_key                       deck_cost
event_value                 3.95333333333
game_id                                 1
player                            player1
timestamp      2016-06-08 18:47:53:486023
Name: 7, dtype: object

In [96]:
turns = pd.DataFrame([])

In [97]:
for x in df.event_key.unique():
    if x in ['turn_begins', 'max_mana', 'avg_hand_cost', 'mana_used', 'turn_end', 'hero_health', 'hero_power', 'overdraw']:
        idx = df.event_key[df.event_key == x].index.tolist()
        turns = turns.append(df.ix[idx])

In [106]:
turns = turns[turns['game_id'] != 1]

In [143]:
turns.sort_values(by = ['game_id', 'event_value'], ascending = True, inplace = True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [154]:
for x in turns.event_value[900:1000]:
    try:
        turns.event_value[turns.event_value == x] = turns.event_value[turns.event_value == x].map(lambda y: float(y))
    except ValueError:
        pass

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Anaconda2\lib\site-packages\pandas\core\generic.py:4428: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2885: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [155]:
turns

,event_key,event_value,game_id,player,timestamp
985,hero_health,NaN,2,Player1,2016-06-08 18:48:05:246015
983,hero_health,NaN,2,Player1,2016-06-08 18:48:05:206242
995,turn_begins,NaN,3,Player1,2016-06-08 18:48:05:406161
991,turn_end,NaN,3,Player1,2016-06-08 18:48:05:356046
1000,turn_end,NaN,3,Player2,2016-06-08 18:48:05:462442
1007,turn_begins,NaN,3,Player2,2016-06-08 18:48:05:575458
1025,turn_begins,NaN,3,Player1,2016-06-08 18:48:05:623640
1002,hero_health,NaN,3,Player1,2016-06-08 18:48:05:534739
1006,hero_health,NaN,3,Player2,2016-06-08 18:48:05:579381
989,turn_begins,NaN,3,Player2,2016-06-08 18:48:05:338108
993,turn_begins,NaN,3,Player1,2016-06-08 18:48:05:398423
988,hero_health,NaN,3,Player2,2016-06-08 18:48:05:341618
1001,hero_health,NaN,3,Player2,2016-06-08 18:48:05:530243
997,hero_health,NaN,3,Player1,2016-06-08 18:48:05:417616
1017,avg_hand_cost,NaN,3,Player1,2016-06-08 18:48:05:526626
999,avg_hand_cost,NaN,3,Player2,2016-06-08 18:48:05:438325
1012,avg_hand_cost,NaN,3,Player1,2016-06-08 18:48:05:622050
994,mana_used,NaN,3,Player2,2016-06-08 18:48:05:388659
998,max_mana,NaN,3,Player1,2016-06-08 18:48:05:483486
1009,max_mana,NaN,3,Player2,2016-06-08 18:48:05:632900
992,max_mana,NaN,3,Player2,2016-06-08 18:48:05:394625
996,max_mana,NaN,3,Player1,2016-06-08 18:48:05:443095
1008,hero_power,NaN,3,Player2,2016-06-08 18:48:05:596083
1005,hero_power,NaN,3,Player1,2016-06-08 18:48:05:522438
1069,hero_health,NaN,4,Player1,2016-06-08 18:48:06:417098
1018,turn_end,NaN,4,Player1,2016-06-08 18:48:05:811604
1036,turn_begins,NaN,4,Player2,2016-06-08 18:48:05:981669
1032,turn_end,NaN,4,Player2,2016-06-08 18:48:05:956161
1056,turn_end,NaN,4,Player2,2016-06-08 18:48:06:257556
1064,turn_end,NaN,4,Player1,2016-06-08 18:48:06:375774
...,...,...,...,...,...
190199,mana_used,NaN,1402,Player1,2016-06-09 22:32:54:646148
190202,mana_used,NaN,1402,Player2,2016-06-09 22:32:54:718873
190203,mana_used,NaN,1402,Player1,2016-06-09 22:32:54:714133
190266,mana_used,NaN,1402,Player1,2016-06-09 22:32:55:481003
190211,avg_hand_cost,NaN,1402,Player2,2016-06-09 22:32:54:758199
190262,avg_hand_cost,NaN,1402,Player1,2016-06-09 22:32:55:475587
190172,max_mana,NaN,1402,Player1,2016-06-09 22:32:54:386085
190179,max_mana,NaN,1402,Player1,2016-06-09 22:32:54:424094
190185,max_mana,NaN,1402,Player2,2016-06-09 22:32:54:508721
190189,max_mana,NaN,1402,Player2,2016-06-09 22:32:54:552039
190205,max_mana,NaN,1402,Player2,2016-06-09 22:32:54:778146
190240,max_mana,NaN,1402,Player1,2016-06-09 22:32:55:185707
190241,max_mana,NaN,1402,Player1,2016-06-09 22:32:55:168587
190253,max_mana,NaN,1402,Player1,2016-06-09 22:32:55:353814
190289,max_mana,NaN,1402,Player1,2016-06-09 22:32:55:867261
190244,mana_used,NaN,1402,Player2,2016-06-09 22:32:55:257623
190263,mana_used,NaN,1402,Player2,2016-06-09 22:32:55:493935
190267,mana_used,NaN,1402,Player1,2016-06-09 22:32:55:589500
190277,mana_used,NaN,1402,Player1,2016-06-09 22:32:55:637414
190224,max_mana,NaN,1402,Player2,2016-06-09 22:32:55:023821
190246,max_mana,NaN,1402,Player1,2016-06-09 22:32:55:262768
190248,max_mana,NaN,1402,Player1,2016-06-09 22:32:55:306383
190250,max_mana,NaN,1402,Player2,2016-06-09 22:32:55:307147
190257,max_mana,NaN,1402,Player2,2016-06-09 22:32:55:379227
190270,max_mana,NaN,1402,Player2,2016-06-09 22:32:55:451194
190275,mana_used,NaN,1402,Player2,2016-06-09 22:32:55:527798
190288,mana_used,NaN,1402,Player2,2016-06-09 22:32:55:818791
190225,hero_power,NaN,1402,Player2,2016-06-09 22:32:55:039545
190198,hero_power,NaN,1402,Player2,2016-06-09 22:32:54:632731
190188,hero_power,NaN,1402,Player1,2016-06-09 22:32:54:531248

In [13]:
df_pivot = df.pivot_table(index = 'game_id', columns=['event_key', 'player'], values='event_value', aggfunc=lambda x: ' '.join(x))
df_pivot.head()

event_key                                      avg_hand_cost  \
player                                               Player1
game_id
1          3.75 3.4 4.0 4.33333333333 1.5 4.0 3.4 2.4 3.5...
2                                                       None
3                                         5.83333333333 4.25
4                                  3.66666666667 5.6 3.8 6.6
5          3.66666666667 5.8 4.66666666667 3.5 6.6 3.6666...

event_key                                                     \
player                                               Player2
game_id
1          10.75 4.5 4.0 4.25 1.5 9.2 4.75 3.5 4.0 4.6 3....
2                                                       None
3                                                        5.0
4                   5.83333333333 3.75 4.0 5.0 5.33333333333
5          5.66666666667 5.4 4.8 3.66666666667 5.6 2.75 4...

event_key                                         cards_kept  \
player                                               Player1
game_id
1          [<Spell ('Shadowform')>, <Minion ('Lightspawn'...
2                                                       None
3                                                       None
4                                                       None
5          [] [<Minion ('Succubus')>, <Minion ('Force-Tan...

event_key                                                     \
player                                               Player2
game_id
1          [<Minion ('Mech-Bear-Cat')>, <Minion ('Molten ...
2                                                       None
3                                                       None
4                                                       None
5          [] [<Minion ('Doomguard')>, <Spell ('Fist of J...

event_key                                   cards_mulliganed  \
player                                               Player1
game_id
1          [<Minion ('Master Jouster')>] [] [] [] [<Minio...
2                                                       None
3                                                       None
4          [<Minion ('Reckless Rocketeer')>, <Minion ('In...
5                                                         []

event_key                                                     \
player                                               Player2
game_id
1          [<Minion ('Drakonid Crusher')>] [<Minion ('Ani...
2                                                       None
3                                                       None
4                                                       None
5          [<Minion ('Southsea Captain')>, <Minion ('Ston...

event_key                                               deck  \
player                                               player1
game_id
1          ['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...
2                                                       None
3                                                       None
4          ['EX1_032', 'OG_339', 'EX1_560', 'LOE_038', 'E...
5          ['EX1_396', 'CS2_121', 'CS2_124', 'GVG_108', '...

event_key                                                     \
player                                               player2
game_id
1          ['OG_303', 'AT_092', 'CS2_120', 'EX1_067', 'BR...
2                                                       None
3                                                       None
4          ['GVG_008', 'OG_123', 'BRM_029', 'CS1_042', 'L...
5          ['CS2_172', 'OG_340', 'GVG_095', 'EX1_310', 'C...

event_key                                          deck_cost  \
player                                               player1
game_id
1          3.95333333333 3.95333333333 3.95333333333 3.95...
2                                                       None
3                                                       None
4                                              4.48333333333
5                                                        4.0

event_key                                                     \
player                                               player2
game_id
1          4.3 4.3 4.3 4.83333333333 4.3 4.83333333333 4....
2                                                       None
3                                                       None
4                                              3.96666666667
5                                              4.43333333333

event_key                        ...                              num_weapons  \
player                           ...                                  player1
game_id                          ...
1                                ...                          2 2 0 2 0 0 0 0
2                                ...                                     None
3                                ...                                     None
4                                ...                                        0
5                                ...                                        0

event_key                  overdraw          \
player             player2  Player1 Player2
game_id
1          1 1 0 0 0 0 1 1     None    None
2                     None     None    None
3                     None     None    None
4                        0     None    None
5                        0     None    None

event_key                                      player1_class  \
player                                               player1
game_id
1          CardClass.PRIEST CardClass.WARLOCK CardClass.P...
2                                                       None
3                                                       None
4                                           CardClass.SHAMAN
5                                          CardClass.WARLOCK

event_key                                      player2_class  \
player                                               player2
game_id
1          CardClass.DRUID CardClass.MAGE CardClass.HUNTE...
2                                                       None
3                                                       None
4                                           CardClass.PRIEST
5                                          CardClass.WARLOCK

event_key                                        turn_begins  \
player                                               Player1
game_id
1          1 1 2 1 2 2 3 2 4 2 3 3 4 4 5 6 4 5 6 4 6 7 6 ...
2                                                       None
3                                                   17 14 15
4                                                   17 16 16
5              19 1 17 18 18 21 1 19 3 20 20 21 3 5 23 22 22

event_key                                                     \
player                                               Player2
game_id
1          1 1 1 1 1 2 3 2 2 3 3 4 5 3 4 5 3 4 5 6 5 6 7 ...
2                                                       None
3                                                      17 15
4                                                   15 18 16
5              17 17 20 18 2 19 19 20 2 4 22 21 21 22 4 6 24

event_key                                           turn_end  \
player                                               Player1
game_id
1          1 2 1 1 2 2 3 2 4 2 3 3 4 4 5 4 6 5 6 6 4 7 6 ...
2                                                       None
3                                                         14
4                                                   14 17 15
5           16 16 19 17 1 18 18 21 1 19 3 20 20 21 5 3 23 22

event_key
player                                               Player2
game_id
1          1 1 1 1 2 3 1 2 2 3 3 4 5 3 4 5 3 5 5 6 6 7 7 ...
2                                                       None
3                                                         14
4                                                16 15 15 18
5                  16 17 17 20 18 2 19 19 20 2 4 22 21 21 22

[5 rows x 36 columns]

In [12]:
def normalize(row):
    print eval(row.event_value)
    row['dave'] = 2
    return row

df.head(2).apply(normalize, axis = 1)

['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', 'GVG_071', 'EX1_583', 'EX1_620', 'EX1_009', 'GVG_108', 'OG_300', 'AT_096', 'CS2_181', 'NEW1_025', 'GVG_084', 'OG_286', 'CS2_092', 'GVG_117', 'NEW1_018', 'OG_284', 'CS1_042', 'AT_127', 'EX1_029', 'GVG_064', 'EX1_363', 'EX1_284', 'EX1_097', 'OG_152', 'EX1_382', 'AT_113', 'LOE_038']
['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', 'GVG_071', 'EX1_583', 'EX1_620', 'EX1_009', 'GVG_108', 'OG_300', 'AT_096', 'CS2_181', 'NEW1_025', 'GVG_084', 'OG_286', 'CS2_092', 'GVG_117', 'NEW1_018', 'OG_284', 'CS1_042', 'AT_127', 'EX1_029', 'GVG_064', 'EX1_363', 'EX1_284', 'EX1_097', 'OG_152', 'EX1_382', 'AT_113', 'LOE_038']
['GVG_081', 'AT_106', 'OG_090', 'AT_070', 'EX1_007', 'CS2_221', 'AT_109', 'EX1_614', 'CS2_168', 'LOE_089', 'EX1_560', 'CS2_221', 'EX1_011', 'GVG_118', 'EX1_287', 'AT_113', 'AT_118', 'AT_093', 'CS2_117', 'EX1_044', 'NEW1_023', 'AT_113', 'FP1_028', 'FP1_027', 'EX1_393', 'AT_082', 'CS2_181', 'GVG_069', 'EX1_508', 'LOE_047']

,event_key,event_value,game_id,player,timestamp,dave
0,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,2
1,deck,"['GVG_081', 'AT_106', 'OG_090', 'AT_070', 'EX1...",1,player1,2016-06-08 18:47:53:370128,2