In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import ast
from sqlalchemy import create_engine
%matplotlib inline

In [27]:
# data is stored in a sqlite database locally
engine = create_engine('sqlite:///hs_sims3.db')

df3 = pd.read_sql('SELECT * FROM EVENTS', con = engine)

In [24]:
# removing unnecessary index column
del df['index']

KeyError: 'index'

In [23]:
df.dtypes

event_key      object
event_value    object
game_id        object
player         object
timestamp      object
dtype: object

In [28]:
import cPickle
f = open('hearthstone_raw3.p','wb')
cPickle.dump(df3, f)
f.close()

In [5]:
df.head()

,event_key,event_value,game_id,player,timestamp
0,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438
1,deck,"['GVG_081', 'AT_106', 'OG_090', 'AT_070', 'EX1...",1,player1,2016-06-08 18:47:53:370128
2,deck,"['FP1_015', 'OG_133', 'EX1_572', 'EX1_558', 'N...",1,player1,2016-06-08 18:47:53:374504
3,deck,"['CS2_226', 'NEW1_019', 'CS2_186', 'BRM_033', ...",1,player1,2016-06-08 18:47:53:381442
4,deck,"['EX1_556', 'EX1_170', 'EX1_011', 'OG_254', 'E...",1,player1,2016-06-08 18:47:53:411713

In [6]:
# converting unicode values to strings
df = df.astype(str)

# cleaning the event_values column
df.event_value.replace(to_replace = ['<', '>', '\(', '\)', 'Minion ', 'Spell ', 'Weapon ', 'Secret '],
           value = '', regex = True, inplace = True)

In [7]:
# converting strings to lists
for i in range(len(df.event_key)):
    if df.event_key[i] in ['deck', 'cards_mulliganed', 'cards_kept']:
        df.event_value[i] = ast.literal_eval(df.event_value[i])

In [8]:
df.head(100)

,event_key,event_value,game_id,player,timestamp
0,deck,"[FP1_027, EX1_509, NEW1_029, OG_134, GVG_071, ...",1,player1,2016-06-08 18:47:53:334438
1,deck,"[GVG_081, AT_106, OG_090, AT_070, EX1_007, CS2...",1,player1,2016-06-08 18:47:53:370128
2,deck,"[FP1_015, OG_133, EX1_572, EX1_558, NEW1_041, ...",1,player1,2016-06-08 18:47:53:374504
3,deck,"[CS2_226, NEW1_019, CS2_186, BRM_033, FP1_030,...",1,player1,2016-06-08 18:47:53:381442
4,deck,"[EX1_556, EX1_170, EX1_011, OG_254, EX1_044, G...",1,player1,2016-06-08 18:47:53:411713
5,deck,"[EX1_009, OG_122, EX1_050, EX1_062, OG_321, GV...",1,player1,2016-06-08 18:47:53:405278
6,deck,"[AT_101, EX1_341, EX1_284, EX1_085, LOE_111, G...",1,player1,2016-06-08 18:47:53:388548
7,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:486023
8,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:545314
9,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:538533
10,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:550650
11,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:520927
12,num_minions,278,1,player1,2016-06-08 18:47:53:602498
13,deck,"[AT_113, OG_174, CS1_069, GVG_095, EX1_045, AT...",1,player1,2016-06-08 18:47:53:392971
14,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:528816
15,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:576472
16,num_minions,278,1,player1,2016-06-08 18:47:53:611826
17,num_minions,278,1,player1,2016-06-08 18:47:53:625147
18,num_minions,278,1,player1,2016-06-08 18:47:53:621180
19,num_spells,20,1,player1,2016-06-08 18:47:53:639183
20,num_minions,278,1,player1,2016-06-08 18:47:53:586315
21,num_spells,20,1,player1,2016-06-08 18:47:53:712928
22,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:658557
23,num_minions,278,1,player1,2016-06-08 18:47:53:683714
24,num_spells,20,1,player1,2016-06-08 18:47:53:688536
25,num_weapons,2,1,player1,2016-06-08 18:47:53:723831
26,num_spells,20,1,player1,2016-06-08 18:47:53:745316
27,num_spells,20,1,player1,2016-06-08 18:47:53:735670
28,num_spells,20,1,player1,2016-06-08 18:47:53:764559
29,num_minions,278,1,player1,2016-06-08 18:47:53:757621
...,...,...,...,...,...
70,num_spells,1,1,player2,2016-06-08 18:47:54:273791
71,num_minions,0,1,player2,2016-06-08 18:47:54:346030
72,player1_class,CardClass.PRIEST,1,player1,2016-06-08 18:47:54:327266
73,num_spells,1,1,player2,2016-06-08 18:47:54:294690
74,num_weapons,0,1,player2,2016-06-08 18:47:54:367758
75,num_weapons,0,1,player2,2016-06-08 18:47:54:380014
76,player2_class,CardClass.DRUID,1,player2,2016-06-08 18:47:54:390981
77,num_weapons,0,1,player2,2016-06-08 18:47:54:398793
78,num_spells,0,1,player2,2016-06-08 18:47:54:391320
79,first_player,Player2,1,Player2,2016-06-08 18:47:54:432609
80,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:453929
81,player1_class,CardClass.PALADIN,1,player1,2016-06-08 18:47:54:392972
82,player1_class,CardClass.MAGE,1,player1,2016-06-08 18:47:54:411686
83,num_weapons,0,1,player2,2016-06-08 18:47:54:475975
84,player2_class,CardClass.MAGE,1,player2,2016-06-08 18:47:54:492240
85,player2_class,CardClass.HUNTER,1,player2,2016-06-08 18:47:54:502493
86,cards_mulliganed,[Master Jouster],1,Player1,2016-06-08 18:47:54:499830
87,num_weapons,1,1,player2,2016-06-08 18:47:54:289245
88,first_player,Player2,1,Player2,2016-06-08 18:47:54:563646
89,num_weapons,1,1,player2,2016-06-08 18:47:54:317290
90,cards_kept,"[Shadowform, Lightspawn, Lost Tallstrider]",1,Player1,2016-06-08 18:47:54:570910
91,first_player,Player1,1,Player1,2016-06-08 18:47:54:530893
92,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:524600
93,player2_class,CardClass.WARRIOR,1,player2,2016-06-08 18:47:54:507291
94,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:598598
95,turn_begins,1,1,Player2,2016-06-08 18:47:54:609618
96,player2_class,CardClass.WARLOCK,1,player2,2016-06-08 18:47:54:652508
97,cards_mulliganed,[],1,Player1,2016-06-08 18:47:54:641989
98,max_mana,1,1,Player2,2016-06-08 18:47:54:670589
99,first_player,Player2,1,Player2,2016-06-08 18:47:54:695258

In [9]:
# creating a function to convert the format of the data from long to "longer"

def expand_decks(df):
    if len(df.event_value.values[0]) == 0:
        df['event_value'] = 'NONE'
        df['event_iter'] = 0.
        return df
    else:
        ndf = pd.concat([df]*len(df.event_value.values[0]), ignore_index=True)
        ndf['event_value'] = df.event_value.values[0]
        ndf['event_iter'] = range(ndf.shape[0])
        return ndf

In [10]:
# applying the above function to the event_values that are lists
decks_times = df.loc[df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
decks = decks_times.groupby('timestamp').apply(expand_decks).reset_index(drop=True)

In [15]:
decks.head(31)

,event_key,event_value,game_id,player,timestamp,event_iter
0,deck,FP1_027,1,player1,2016-06-08 18:47:53:334438,0.0
1,deck,EX1_509,1,player1,2016-06-08 18:47:53:334438,1.0
2,deck,NEW1_029,1,player1,2016-06-08 18:47:53:334438,2.0
3,deck,OG_134,1,player1,2016-06-08 18:47:53:334438,3.0
4,deck,GVG_071,1,player1,2016-06-08 18:47:53:334438,4.0
5,deck,EX1_583,1,player1,2016-06-08 18:47:53:334438,5.0
6,deck,EX1_620,1,player1,2016-06-08 18:47:53:334438,6.0
7,deck,EX1_009,1,player1,2016-06-08 18:47:53:334438,7.0
8,deck,GVG_108,1,player1,2016-06-08 18:47:53:334438,8.0
9,deck,OG_300,1,player1,2016-06-08 18:47:53:334438,9.0
10,deck,AT_096,1,player1,2016-06-08 18:47:53:334438,10.0
11,deck,CS2_181,1,player1,2016-06-08 18:47:53:334438,11.0
12,deck,NEW1_025,1,player1,2016-06-08 18:47:53:334438,12.0
13,deck,GVG_084,1,player1,2016-06-08 18:47:53:334438,13.0
14,deck,OG_286,1,player1,2016-06-08 18:47:53:334438,14.0
15,deck,CS2_092,1,player1,2016-06-08 18:47:53:334438,15.0
16,deck,GVG_117,1,player1,2016-06-08 18:47:53:334438,16.0
17,deck,NEW1_018,1,player1,2016-06-08 18:47:53:334438,17.0
18,deck,OG_284,1,player1,2016-06-08 18:47:53:334438,18.0
19,deck,CS1_042,1,player1,2016-06-08 18:47:53:334438,19.0
20,deck,AT_127,1,player1,2016-06-08 18:47:53:334438,20.0
21,deck,EX1_029,1,player1,2016-06-08 18:47:53:334438,21.0
22,deck,GVG_064,1,player1,2016-06-08 18:47:53:334438,22.0
23,deck,EX1_363,1,player1,2016-06-08 18:47:53:334438,23.0
24,deck,EX1_284,1,player1,2016-06-08 18:47:53:334438,24.0
25,deck,EX1_097,1,player1,2016-06-08 18:47:53:334438,25.0
26,deck,OG_152,1,player1,2016-06-08 18:47:53:334438,26.0
27,deck,EX1_382,1,player1,2016-06-08 18:47:53:334438,27.0
28,deck,AT_113,1,player1,2016-06-08 18:47:53:334438,28.0
29,deck,LOE_038,1,player1,2016-06-08 18:47:53:334438,29.0
30,deck,GVG_081,1,player1,2016-06-08 18:47:53:370128,0.0

In [11]:
nodecks = df[~df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
nodecks['event_iter'] = 0
expanded = pd.concat([decks, nodecks], ignore_index=True)
expanded.sort_values(['event_key','event_iter','player','timestamp'], inplace=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [17]:
expanded.head(10)

,event_key,event_value,game_id,player,timestamp,event_iter
81118,avg_hand_cost,3.75,1,Player1,2016-06-08 18:47:55:080150,0.0
81129,avg_hand_cost,3.4,1,Player1,2016-06-08 18:47:55:241967,0.0
81141,avg_hand_cost,4.33333333333,1,Player1,2016-06-08 18:47:55:405598,0.0
81140,avg_hand_cost,4.0,1,Player1,2016-06-08 18:47:55:455376,0.0
81177,avg_hand_cost,1.5,1,Player1,2016-06-08 18:47:55:795405,0.0
81206,avg_hand_cost,3.4,1,Player1,2016-06-08 18:47:56:128586,0.0
81207,avg_hand_cost,2.4,1,Player1,2016-06-08 18:47:56:165903,0.0
81202,avg_hand_cost,4.0,1,Player1,2016-06-08 18:47:56:180581,0.0
81226,avg_hand_cost,3.5,1,Player1,2016-06-08 18:47:56:453777,0.0
81253,avg_hand_cost,4.25,1,Player1,2016-06-08 18:47:56:664127,0.0