In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('mysql://9cb054_testdb:paladinlol!@MYSQL5008.Smarterasp.net:3306/db_9cb054_testdb')

# engine = create_engine('mysql://dsi_student:9cb054_testdb@dsi.http://mysql5008.smarterasp.net/:3306/db_9cb054_testdb')

In [4]:
pd.read_sql("SHOW tables", con=engine)

   Tables_in_db_9cb054_testdb
0                        card
1                    carddraw
2                    cardturn
3                        deck
4                        game
5                        hand
6                minionattack
7                mulligancard
8                opponentdeck
9            opponentdeckcard
10                       turn
11                       user
12                   userdeck
13               userdeckcard

In [10]:
sql = """
SELECT * FROM game
WHERE GameType = "Constructed" AND GameOpponent != "The Innkeeper"
ORDER BY GameID DESC
"""

games = pd.read_sql(sql, con=engine)
games.head()

,GameID,GameUserName,GameUserClass,GameOpponent,GameOpponentClass,GameStart,GameEnd,GameType,GameRank,Victory,Coin,ReplayText
0,1425,Jayford,Guldan,McBain,Thrall,2016-05-19 20:28:50,2016-05-19 20:28:51,Constructed,0, , ,Opponent drew a card#Opponent drew a card#Oppo...
1,1422,thall,Thrall,Silent,Anduin Wrynn,2016-05-15 18:03:15,2016-05-15 18:03:15,Constructed,0,,,Opponent drew a card#Opponent drew a card#Oppo...
2,1418,Jayford,Uther Lightbringer,Reggie,Valeera Sanguinar,2016-05-15 15:23:18,2016-05-15 15:23:18,Constructed,0, ,,You draw Ysera#You draw Shifter Zerus#You dr...
3,1417,Jayford,Uther Lightbringer,tottotz,Thrall,2016-05-02 22:26:53,2016-05-02 22:26:54,Constructed,0,, ,You draw Consecration#You draw Solemn Vigil#...
4,1416,Jayford,Uther Lightbringer,Hotrod19,Rexxar,2016-05-02 22:07:38,2016-05-02 22:07:39,Constructed,0,,,You draw Selfless Hero#You draw Aldor Peacek...

In [14]:
sql = """
  SELECT 
  g.GameID,
  g.GameUserName,
  ct.TurnNumber,
  SUM(Cost) AS TurnCost,
  ct.Friendly
FROM Game AS g
INNER JOIN Turn AS t ON g.GameID = t.GameID
INNER JOIN CardTurn AS ct  ON t.TurnID = ct.TurnID
WHERE g.GameID = 1422 AND ct.MinionName <> "Guldan" AND ct.MinionName <> "Uther Lightbringer"  AND ct.MinionName <> "Garrosh Hellscream" 
AND ct.MinionName <> "Malfurion Stormrage"
AND ct.MinionName <> "Rexxar" AND ct.MinionName <> "Jaina Proudmoore" AND ct.MinionName <> "Anduin Wrynn" AND ct.MinionName <> "Valeera Sanguinar" 
AND ct.MinionName <> "Thrall" AND Friendly = 0
GROUP BY ct.TurnNumber
Order By ct.TurnNumber
"""

mana = pd.read_sql(sql, con=engine)
mana.head()

   GameID GameUserName  TurnNumber  TurnCost Friendly
0    1422        thall           4       3.0         
1    1422        thall           5       0.0         
2    1422        thall           6       3.0         
3    1422        thall           7       1.0         