In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine('mysql://9cb054_testdb:paladinlol!@MYSQL5008.Smarterasp.net:3306/db_9cb054_testdb')

# engine = create_engine('mysql://dsi_student:9cb054_testdb@dsi.http://mysql5008.smarterasp.net/:3306/db_9cb054_testdb')

In [5]:
pd.read_sql("SHOW tables", con=engine)

   Tables_in_db_9cb054_testdb
0                        card
1                    carddraw
2                    cardturn
3                        deck
4                        game
5                        hand
6                minionattack
7                mulligancard
8                opponentdeck
9            opponentdeckcard
10                       turn
11                       user
12                   userdeck
13               userdeckcard

In [6]:
sql = """
SELECT GameID, GameUserClass AS User_Class, GameOpponentClass AS Opp_Class, Victory FROM game
WHERE GameOpponent != "The Innkeeper"
"""

classes = pd.read_sql(sql, con=engine)
classes.head()

   GameID        User_Class         Opp_Class Victory
0       7  Jaina Proudmoore            Guldan        
1       9  Jaina Proudmoore            Rexxar       
2      11            Thrall      Anduin Wrynn       
3      12  Jaina Proudmoore  Jaina Proudmoore       
4      13  Jaina Proudmoore            Rexxar       

In [7]:
classes.Victory = classes.Victory.map(ord)

In [21]:
def class_converter(df):
    for x in df:
        if x == 'Jaina Proudmoore' or 'Medivh' or 'Khadgar':
            x.replace('Mage')
        elif x == "Thrall":
            x = 'Shaman'
        elif x == 'Guldan':
            x = 'Warlock'
        elif x == 'Rexxar' or 'Alleria Windrunner':
            x = 'Hunter'
        elif x == 'Anduin Wrynn':
            x = 'Priest'
        elif x == 'Uther Lightbringer' or 'Lady Liadrin':
            x = 'Paladin'
        elif x == 'Garrosh Hellscream' or 'Magni Bronzebeard':
            x = 'Warrior'
        elif x == 'Valeera Sanguinar':
            x = 'Rogue'
        elif x == 'Malfurion Stormrage':
            x = 'Druid'
            
class_converter(classes.User_Class)

TypeError: replace() takes at least 2 arguments (1 given)

In [8]:
classes['Matchup'] = [(str(classes.User_Class[i]) + str(classes.Opp_Class[i])) for i in range(len(classes.User_Class))]

In [9]:
classes.head()

,GameID,User_Class,Opp_Class,Victory,Matchup
0,7,Jaina Proudmoore,Guldan,0,Jaina ProudmooreGuldan
1,9,Jaina Proudmoore,Rexxar,1,Jaina ProudmooreRexxar
2,11,Thrall,Anduin Wrynn,1,ThrallAnduin Wrynn
3,12,Jaina Proudmoore,Jaina Proudmoore,1,Jaina ProudmooreJaina Proudmoore
4,13,Jaina Proudmoore,Rexxar,1,Jaina ProudmooreRexxar

In [105]:
classes.User_Class.unique()

array(['Jaina Proudmoore', 'Thrall', 'Malfurion Stormrage', 'Rexxar',
       'Alleria Windrunner', 'Garrosh Hellscream', 'Medivh',
       'Valeera Sanguinar', 'Uther Lightbringer', 'Guldan', 'Anduin Wrynn',
       ''], dtype=object)

In [12]:
sql = """
SELECT * FROM game
WHERE GameType = "Constructed" AND GameOpponent != "The Innkeeper"
ORDER BY GameID DESC
"""

games = pd.read_sql(sql, con=engine)
games.shape

(1018, 12)

In [70]:
sql = """
SELECT game.GameID, game.GameUserName AS User, game.GameUserClass AS UserClass, game.GameOpponent AS Enemy, 
game.GameOpponentClass AS EnemyClass, game.Victory, game.Coin, turn.TurnID, turn.TurnNumber, cardturn.MinionName, 
cardturn.Health, cardturn.Friendly, cardturn.Cost FROM game
JOIN turn
ON game.GameID = turn.GameID
JOIN cardturn
ON cardturn.TurnID = turn.TurnID
WHERE (game.GameOpponent != "The Innkeeper") AND (cardturn.Friendly = 1)
"""

test = pd.read_sql(sql, con=engine)
test

,GameID,User,UserClass,Enemy,EnemyClass,Victory,Coin,TurnID,TurnNumber,MinionName,Health,Friendly,Cost
0,7,JAB,Jaina Proudmoore,hoodrich,Guldan, ,,15,1,Jaina Proudmoore,30,,0
1,7,JAB,Jaina Proudmoore,hoodrich,Guldan, ,,15,1,Jaina Proudmoore,30,,0
2,7,JAB,Jaina Proudmoore,hoodrich,Guldan, ,,15,1,Mana Wyrm,3,,1
3,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,16,1,Jaina Proudmoore,30,,0
4,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,16,1,Jaina Proudmoore,30,,0
5,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,16,1,Mana Wyrm,3,,1
6,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,17,2,Jaina Proudmoore,30,,0
7,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,17,2,Mana Wyrm,3,,0
8,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,18,3,Jaina Proudmoore,30,,0
9,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,18,3,Mana Wyrm,3,,0
10,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,18,3,Fireblast,0,,2
11,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,19,4,Jaina Proudmoore,30,,0
12,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,19,4,Mana Wyrm,-1,,0
13,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,20,5,Jaina Proudmoore,30,,0
14,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,20,5,The Coin,0,,0
15,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,20,5,Water Elemental,6,,4
16,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,21,6,Jaina Proudmoore,22,,0
17,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,21,6,Water Elemental,6,,0
18,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,22,7,Jaina Proudmoore,22,,0
19,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,22,7,Water Elemental,2,,0
20,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,22,7,Fireblast,0,,2
21,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,23,8,Jaina Proudmoore,20,,0
22,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,23,8,Water Elemental,0,,0
23,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,24,9,Jaina Proudmoore,20,,0
24,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,24,9,Water Elemental,0,,0
25,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,24,9,Fireblast,0,,2
26,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,25,10,Jaina Proudmoore,20,,0
27,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,26,11,Jaina Proudmoore,20,,0
28,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,26,11,Fireball,0,,4
29,9,Zangy,Jaina Proudmoore,freeza,Rexxar,,,26,11,Fireblast,0,,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70810,1425,Jayford,Guldan,McBain,Thrall, , ,18422,4,Guldan,30,,0
70811,1425,Jayford,Guldan,McBain,Thrall, , ,18422,4,Sir Finley Mrrgglton,3,,1
70812,1425,Jayford,Guldan,McBain,Thrall, , ,18422,4,Forbidden Ritual,0,,0
70813,1425,Jayford,Guldan,McBain,Thrall, , ,18422,4,Icky Tentacle,1,,1
70814,1425,Jayford,Guldan,McBain,Thrall, , ,18422,4,Icky Tentacle,1,,1
70815,1425,Jayford,Guldan,McBain,Thrall, , ,18423,5,Guldan,28,,0
70816,1425,Jayford,Guldan,McBain,Thrall, , ,18423,5,Sir Finley Mrrgglton,0,,0
70817,1425,Jayford,Guldan,McBain,Thrall, , ,18423,5,Icky Tentacle,1,,0
70818,1425,Jayford,Guldan,McBain,Thrall, , ,18423,5,Icky Tentacle,1,,0
70819,1425,Jayford,Guldan,McBain,Thrall, , ,18424,6,Guldan,28,,0
70820,1425,Jayford,Guldan,McBain,Thrall, , ,18424,6,Icky Tentacle,1,,0
70821,1425,Jayford,Guldan,McBain,Thrall, , ,18424,6,Icky Tentacle,2,,0
70822,1425,Jayford,Guldan,McBain,Thrall, , ,18424,6,Defender of Argus,3,,4
70823,1425,Jayford,Guldan,McBain,Thrall, , ,18425,7,Guldan,28,,0
70824,1425,Jayford,Guldan,McBain,Thrall, , ,18425,7,Icky Tentacle,2,,0
70825,1425,Jayford,Guldan,McBain,Thrall, , ,18425,7,Defender of Argus,3,,0
70826,1425,Jayford,Guldan,McBain,Thrall, , ,18426,8,Guldan,28,,0
70827,1425,Jayford,Guldan,McBain,Thrall, , ,18426,8,Icky Tentacle,2,,0
70828,1425,Jayford,Guldan,McBain,Thrall, , ,18426,8,Defender of Argus,3,,0
70829,1425,Jayford,Guldan,McBain,Thrall, , ,18426,8,Spawn of NZoth,2,,3
70830,1425,Jayford,Guldan,McBain,Thrall, , ,18426,8,Reinforce,0,,2
70831,1425,Jayford,Guldan,McBain,Thrall, , ,18426,8,Silver Hand Recruit,1,,1
70832,1425,Jayford,Guldan,McBain,Thrall, , ,18427,9,Guldan,28,,0
70833,1425,Jayford,Guldan,McBain,Thrall, , ,18427,9,Icky Tentacle,1,,0
70834,1425,Jayford,Guldan,McBain,Thrall, , ,18427,9,Defender of Argus,-4,,0
70835,1425,Jayford,Guldan,McBain,Thrall, , ,18427,9,Spawn of NZoth,2,,0
70836,1425,Jayford,Guldan,McBain,Thrall, , ,18427,9,Silver Hand Recruit,1,,0
70837,1425,Jayford,Guldan,McBain,Thrall, , ,18428,10,Guldan,28,,0
70838,1425,Jayford,Guldan,McBain,Thrall, , ,18428,10,Spawn of NZoth,2,,0
70839,1425,Jayford,Guldan,McBain,Thrall, , ,18428,10,Silver Hand Recruit,1,,0

In [71]:
test.TurnNumber = test.TurnNumber.apply(int)

In [72]:
test.Victory = test.Victory.map(ord)
test.Coin = test.Coin.map(ord)
test.Friendly = test.Friendly.map(ord)
test.head(15)

,GameID,User,UserClass,Enemy,EnemyClass,Victory,Coin,TurnID,TurnNumber,MinionName,Health,Friendly,Cost
0,7,JAB,Jaina Proudmoore,hoodrich,Guldan,0,1,15,1,Jaina Proudmoore,30,1,0
1,7,JAB,Jaina Proudmoore,hoodrich,Guldan,0,1,15,1,Jaina Proudmoore,30,1,0
2,7,JAB,Jaina Proudmoore,hoodrich,Guldan,0,1,15,1,Mana Wyrm,3,1,1
3,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,16,1,Jaina Proudmoore,30,1,0
4,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,16,1,Jaina Proudmoore,30,1,0
5,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,16,1,Mana Wyrm,3,1,1
6,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,17,2,Jaina Proudmoore,30,1,0
7,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,17,2,Mana Wyrm,3,1,0
8,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,18,3,Jaina Proudmoore,30,1,0
9,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,18,3,Mana Wyrm,3,1,0
10,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,18,3,Fireblast,0,1,2
11,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,19,4,Jaina Proudmoore,30,1,0
12,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,19,4,Mana Wyrm,-1,1,0
13,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,20,5,Jaina Proudmoore,30,1,0
14,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,20,5,The Coin,0,1,0

In [74]:
test['Mana'] = [test.TurnNumber[i] for i in range(len(test.TurnNumber))]

In [81]:
test.Mana = test.Mana.map(lambda x: 10 if x > 10 else x)

In [82]:
# for i in range(len(test.TurnNumber)):
#     if test.TurnNumber[i] <= 10:
#         test['Mana'] = test.TurnNumber[i]
#     else:
#         test['Mana'] = 10
    
test.head(15)

,GameID,User,UserClass,Enemy,EnemyClass,Victory,Coin,TurnID,TurnNumber,MinionName,Health,Friendly,Cost,Mana
0,7,JAB,Jaina Proudmoore,hoodrich,Guldan,0,1,15,1,Jaina Proudmoore,30,1,0,1
1,7,JAB,Jaina Proudmoore,hoodrich,Guldan,0,1,15,1,Jaina Proudmoore,30,1,0,1
2,7,JAB,Jaina Proudmoore,hoodrich,Guldan,0,1,15,1,Mana Wyrm,3,1,1,1
3,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,16,1,Jaina Proudmoore,30,1,0,1
4,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,16,1,Jaina Proudmoore,30,1,0,1
5,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,16,1,Mana Wyrm,3,1,1,1
6,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,17,2,Jaina Proudmoore,30,1,0,2
7,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,17,2,Mana Wyrm,3,1,0,2
8,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,18,3,Jaina Proudmoore,30,1,0,3
9,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,18,3,Mana Wyrm,3,1,0,3
10,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,18,3,Fireblast,0,1,2,3
11,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,19,4,Jaina Proudmoore,30,1,0,4
12,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,19,4,Mana Wyrm,-1,1,0,4
13,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,20,5,Jaina Proudmoore,30,1,0,5
14,9,Zangy,Jaina Proudmoore,freeza,Rexxar,1,1,20,5,The Coin,0,1,0,5

In [83]:
test.Mana.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,  0], dtype=int64)

In [87]:
mana = test.groupby(['GameID', 'TurnNumber', 'Mana'])['Cost'].sum().reset_index()

In [91]:
mask = mana.Cost > 40
mana[mask]

      GameID  TurnNumber  Mana  Cost
5329     370          15    10    44

In [14]:
sql = """
SELECT * FROM turn
"""
turns = pd.read_sql(sql, con=engine)
turns.head()

   TurnID  GameID TurnNumber TurnEnd  friendlySecret  enemeySecret
0       1       1          1    None             NaN           NaN
1       2       1          2    None             NaN           NaN
2       3       1          3    None             NaN           NaN
3       4       2          1    None             NaN           NaN
4       5       2          2    None             NaN           NaN

In [9]:
sql = """
  SELECT 
  g.GameID,
  g.GameUserName,
  ct.TurnNumber,
  SUM(Cost) AS TurnCost,
  ct.Friendly
FROM Game AS g
INNER JOIN Turn AS t ON g.GameID = t.GameID
INNER JOIN CardTurn AS ct  ON t.TurnID = ct.TurnID
WHERE ct.MinionName <> "Guldan" AND ct.MinionName <> "Uther Lightbringer"  AND ct.MinionName <> "Garrosh Hellscream" 
AND ct.MinionName <> "Malfurion Stormrage"
AND ct.MinionName <> "Rexxar" AND ct.MinionName <> "Jaina Proudmoore" AND ct.MinionName <> "Anduin Wrynn" AND ct.MinionName <> "Valeera Sanguinar" 
AND ct.MinionName <> "Thrall" AND Friendly = 0
GROUP BY ct.TurnNumber
Order By ct.TurnNumber
"""

mana = pd.read_sql(sql, con=engine)
mana

    GameID GameUserName  TurnNumber  TurnCost Friendly
0     1096      Jayford           0      74.0         
1        2      Jayford           1     453.0         
2        1      Jayford           2    1228.0         
3        2      Jayford           3    1198.0         
4        3      Jayford           4    1630.0         
5       12          j1N           5    1508.0         
6        9        Zangy           6    2005.0         
7        9        Zangy           7    1982.0         
8        9        Zangy           8    2393.0         
9       11          j1N           9    2264.0         
10      11          j1N          10    2758.0         
11       9        Zangy          11    2583.0         
12       9        Zangy          12    3118.0         
13       9        Zangy          13    2597.0         
14       9        Zangy          14    2557.0         
15       9        Zangy          15    2129.0         
16       9        Zangy          16    1980.0         
17       9        Zangy          17    1572.0         
18       9        Zangy          18    1411.0         
19       9        Zangy          19    1079.0         
20       9        Zangy          20     946.0         
21       9        Zangy          21     710.0         
22       9        Zangy          22     518.0         
23       9        Zangy          23     419.0         
24      16        Zangy          24     360.0         
25      16        Zangy          25     262.0         
26      16        Zangy          26     242.0         
27      16        Zangy          27     145.0         
28      16        Zangy          28     139.0         
29      16        Zangy          29     157.0         
..     ...          ...         ...       ...      ...
34      64  vanqswisher          34      39.0         
35     318          JAB          35      15.0         
36     318          JAB          36      53.0         
37     327          JAB          37      22.0         
38     454   chandyland          38      15.0         
39     454   chandyland          39      12.0         
40     454   chandyland          40      18.0         
41     454   chandyland          41      22.0         
42     454   chandyland          42      25.0         
43     454   chandyland          43       8.0         
44     454   chandyland          44      18.0         
45     454   chandyland          45      16.0         
46     656        thall          46      14.0         
47     454   chandyland          47      23.0         
48     454   chandyland          48      17.0         
49     656        thall          49      11.0         
50     656        thall          50       4.0         
51     656        thall          51      17.0         
52     656        thall          52      10.0         
53     809  vanqswisher          53       3.0         
54     809  vanqswisher          54       6.0         
55     809  vanqswisher          55       3.0         
56     809  vanqswisher          56       2.0         
57     809  vanqswisher          57      17.0         
58     809  vanqswisher          58       2.0         
59     809  vanqswisher          59       7.0         
60     819  vanqswisher          60       2.0         
61     819  vanqswisher          61       2.0         
62     819  vanqswisher          62       0.0         
63     819  vanqswisher          63       0.0         

[64 rows x 5 columns]