In [1]:
import pandas as pd

test = pd.read_csv('./test.csv')

test.head()

   HandID  GameID      cardName  cardID  friendly  inHand  cost  turn
0       1    1358   Leper Gnome      13         1       0     1   NaN
1       2    1358     Holy Nova      20         1       1     5   NaN
2       3    1358  Shadowbomber      29         1       0     1   NaN
3       4    1358     Wolfrider      33         1       1     3   NaN
4       5    1358      The Coin      68         1       0     0   NaN