In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [10]:
def ignore_donuts(df, remove):
    if remove.lower() == 'yes':
        df = df[[('Krispy Kreme Donuts' or 'DUNKIN #336784') not in merchant for merchant in df.merchant]]
    else:
        pass
    return df

In [26]:
def crystal_ball(look):
    url = 'https://prod-api.level-labs.com/api/v2/core/projected-transactions-for-month'
    headers = {'Accept': 'application/json', 'Content-Type': 'application/json'}
    data = {'args': {"uid":  1110590645, "token":  "79DA94985E2D213B7114BC4FE3001C34", 
                     "api-token":  "AppTokenForInterview", "json-strict-mode": False, "json-verbose-response": False
                    }
           }
    r = requests.post(url, json = data, headers = headers)
    projected_month = r.json()['transactions']

    projected_month_df = pd.DataFrame.from_dict(projected_month)
    return projected_month_df

In [27]:
def ignore_cc_payments(df, remove):
    if remove.lower() == 'yes':
        print df[[('Credit Card Payment' or 'CC Payment') in merchant for merchant in df.merchant]]
        df = df[[('Credit Card Payment' or 'CC Payment') not in merchant for merchant in df.merchant]]
    else:
        pass
    return df

In [65]:
def monthly_expenses(url, data, headers):
    r = requests.post(url, json = data, headers = headers)
    transactions = r.json()['transactions']
    
    transactions_df = pd.DataFrame.from_dict(transactions)
    
    # If we want to remove all donut-related transactions, we can enter 'yes', which
    # will call our no_donuts function above
    remove_donuts = raw_input('Remove donuts? Yes or No: ')
    transactions_df = ignore_donuts(transactions_df, remove_donuts).reset_index(drop = True)
    
    remove_cc = raw_input('Remove Credit Card Payments? Yes or No: ')
    transactions_df = ignore_cc_payments(transactions_df, remove_cc).reset_index(drop = True)
    
    # We only want the columns consisting of amount and time of each transaction,
    # so we're stripping the rest below
    
    look = raw_input('Look into the Crystal Ball? Yes or No: ')
    if look.lower() == 'yes':
        projected_month_df = crystal_ball(look)
        transactions_df = pd.concat([transactions_df, projected_month_df], axis = 0).reset_index(drop = True)

    cols_to_keep = ['amount', 'transaction-time']
    transactions_df = transactions_df[cols_to_keep]
    
    # We only want the year and month from the transaction-time column, so we're going 
    # to reassign each time with the first 7 characters, which just so happen to be the
    # year and month of the transaction
    for i in range(len(transactions_df['transaction-time'])):
        transactions_df['transaction-time'][i] = transactions_df['transaction-time'][i][:7]
    
    # Since we want to break up the 'amount' column into expenses and income, we
    # need to create two columns (spent and income) based on whether the transaction
    # amount is negative or positive
    spent = []

    for i in range(len(transactions_df.amount)):
        if transactions_df.amount[i] < 0:
            spent.append(transactions_df.amount[i] / 10000)
        else:
            spent.append(0)
            
    transactions_df['spent'] = spent
    
    income = []

    for i in range(len(transactions_df.amount)):
        if transactions_df.amount[i] > 0:
            income.append(transactions_df.amount[i] / 10000)
        else:
            income.append(0)
    
    transactions_df['income'] = income
    
    # Simply turning negative values to positive here
    transactions_df.spent = transactions_df.spent.apply(lambda x: x*-1)
    
    # We need to group the dataframe above by month, so we'll sum both spent transactions
    # and earned transactions and join those two dataframes
    join1_df = transactions_df.groupby(['transaction-time'])['spent'].sum().reset_index()
    join2_df = transactions_df.groupby(['transaction-time'])['income'].sum().reset_index()
    
    final_df = pd.merge(join1_df, join2_df, on = 'transaction-time')
    
    # We calculate the average expense and income across all months below, giving us an 
    # idea of what an "average" month looks like for this particular user. We're also
    # dividing by 10000 to convert from centocents to dollars
    average_spent = np.mean(final_df['spent'])
    average_income = np.mean(final_df['income'])
    print "Average money spent per month: ", round(average_spent, 2)
    print "Average money earned per month: ", round(average_income, 2)

    return final_df

In [66]:
url = 'https://prod-api.level-labs.com/api/v2/core/get-all-transactions'
headers = {'Accept': 'application/json', 'Content-Type': 'application/json'}
data = {'args': {"uid":  1110590645, "token":  "79DA94985E2D213B7114BC4FE3001C34", 
                 "api-token":  "AppTokenForInterview", "json-strict-mode": False, "json-verbose-response": False
                }
       }

In [67]:
monthly_expenses(url, data, headers)

Remove donuts? Yes or No: no
Remove Credit Card Payments? Yes or No: no
Look into the Crystal Ball? Yes or No: yes

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Average money spent per month:  3460.48
Average money earned per month:  3521.67

   transaction-time  spent  income
0           2014-10   1599    3429
1           2014-11   4644    3948
2           2014-12   4815    3953
3           2015-01   3836    3924
4           2015-02   4244    3936
5           2015-03   3487    3941
6           2015-04   3002    3942
7           2015-05   2708    3416
8           2015-06   3774    3917
9           2015-07   3938    3916
10          2015-08   2827    3384
11          2015-09   3075    3921
12          2015-10   3319    1717
13          2015-11   3174    3976
14          2015-12   3227    1725
15          2016-01   2851    2242
16          2016-02   3134    3451
17          2016-03   4235    3386
18          2016-04   3926    3916
19          2016-05   3561    3989
20          2016-06   3294    3926
21          2016-07   3411    3414

In [31]:
url = 'https://prod-api.level-labs.com/api/v2/core/projected-transactions-for-month'
headers = {'Accept': 'application/json', 'Content-Type': 'application/json'}
data = {'args': {"uid":  1110590645, "token":  "79DA94985E2D213B7114BC4FE3001C34", 
                 "api-token":  "AppTokenForInterview", "json-strict-mode": False, "json-verbose-response": False
                }
       }
r = requests.post(url, json = data, headers = headers)
projected_month = r.json()['transactions']

projected_month_df = pd.DataFrame.from_dict(projected_month)

projected_month_df.head()

,account-id,aggregation-time,amount,categorization,clear-date,is-pending,memo-only-for-testing,merchant,payee-name-only-for-testing,raw-merchant,transaction-id,transaction-time
0,nonce:comfy-cc/hdhehe,189302400000,17077100,Unknown,1467997140000,True,Example Memo,Zenpayroll,ZENPAYROLL,ZENPAYROLL,pending:pending-1.3692437427204749,2016-07-08T00:00:00.000Z
1,nonce:comfy-cc/hdhehe,189302400000,17077100,Unknown,1469227200000,True,Example Memo,Zenpayroll,ZENPAYROLL,ZENPAYROLL,pending:pending-1.451320412961065,2016-07-22T00:00:00.000Z
2,nonce:comfy-cc/hdhehe,189302400000,-860800,Unknown,1467951300000,True,Example Memo,At&T Bill Payment,AT&T BILL PAYMENT,AT&T BILL PAYMENT,pending:pending--0.3097518332798052,2016-07-08T00:00:00.000Z
3,nonce:comfy-cc/hdhehe,189302400000,-2418700,Unknown,1469605500000,True,Example Memo,Sweeneys Chevrolet,SWEENEYS CHEVROLET,SWEENEYS CHEVROLET,pending:pending-0.12117099956914347,2016-07-26T00:00:00.000Z
4,nonce:comfy-cc/hdhehe,189302400000,-13642900,Unknown,1467439620000,True,Example Memo,Check,CHECK,CHECK,pending:pending--0.4005380552316816,2016-07-02T00:00:00.000Z