In [87]:
import pandas as pd
import numpy as np
import seaborn as sns
import ast
from sqlalchemy import create_engine
%matplotlib inline

In [88]:
engine = create_engine('sqlite:///hs_sims1.db')

df = pd.read_sql('SELECT * FROM EVENTS', con = engine)

In [89]:
del df['index']

In [90]:
df.dtypes

event_key      object
event_value    object
game_id         int64
player         object
timestamp      object
dtype: object

In [91]:
df.head()

,event_key,event_value,game_id,player,timestamp
0,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438
1,deck,"['GVG_081', 'AT_106', 'OG_090', 'AT_070', 'EX1...",1,player1,2016-06-08 18:47:53:370128
2,deck,"['FP1_015', 'OG_133', 'EX1_572', 'EX1_558', 'N...",1,player1,2016-06-08 18:47:53:374504
3,deck,"['CS2_226', 'NEW1_019', 'CS2_186', 'BRM_033', ...",1,player1,2016-06-08 18:47:53:381442
4,deck,"['EX1_556', 'EX1_170', 'EX1_011', 'OG_254', 'E...",1,player1,2016-06-08 18:47:53:411713

In [80]:
# converting unicode values to strings
# df = df.astype(str)
df.replace(to_replace = ['<', '>', '\(', '\)', 'Minion ', 'Spell ', 'Weapon ', 'Secret '],
           value = '', regex = True, inplace = True)

In [81]:
# converting strings to lists
for i in range(len(df.event_key)):
    if df.event_key[i] in ['deck', 'cards_mulliganed', 'cards_kept']:
        df.event_value[i] = ast.literal_eval(df.event_value[i])

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [82]:
df.head(100)

,event_key,event_value,game_id,player,timestamp
0,deck,"[FP1_027, EX1_509, NEW1_029, OG_134, GVG_071, ...",1,player1,2016-06-08 18:47:53:334438
1,deck,"[GVG_081, AT_106, OG_090, AT_070, EX1_007, CS2...",1,player1,2016-06-08 18:47:53:370128
2,deck,"[FP1_015, OG_133, EX1_572, EX1_558, NEW1_041, ...",1,player1,2016-06-08 18:47:53:374504
3,deck,"[CS2_226, NEW1_019, CS2_186, BRM_033, FP1_030,...",1,player1,2016-06-08 18:47:53:381442
4,deck,"[EX1_556, EX1_170, EX1_011, OG_254, EX1_044, G...",1,player1,2016-06-08 18:47:53:411713
5,deck,"[EX1_009, OG_122, EX1_050, EX1_062, OG_321, GV...",1,player1,2016-06-08 18:47:53:405278
6,deck,"[AT_101, EX1_341, EX1_284, EX1_085, LOE_111, G...",1,player1,2016-06-08 18:47:53:388548
7,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:486023
8,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:545314
9,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:538533
10,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:550650
11,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:520927
12,num_minions,278,1,player1,2016-06-08 18:47:53:602498
13,deck,"[AT_113, OG_174, CS1_069, GVG_095, EX1_045, AT...",1,player1,2016-06-08 18:47:53:392971
14,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:528816
15,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:576472
16,num_minions,278,1,player1,2016-06-08 18:47:53:611826
17,num_minions,278,1,player1,2016-06-08 18:47:53:625147
18,num_minions,278,1,player1,2016-06-08 18:47:53:621180
19,num_spells,20,1,player1,2016-06-08 18:47:53:639183
20,num_minions,278,1,player1,2016-06-08 18:47:53:586315
21,num_spells,20,1,player1,2016-06-08 18:47:53:712928
22,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:658557
23,num_minions,278,1,player1,2016-06-08 18:47:53:683714
24,num_spells,20,1,player1,2016-06-08 18:47:53:688536
25,num_weapons,2,1,player1,2016-06-08 18:47:53:723831
26,num_spells,20,1,player1,2016-06-08 18:47:53:745316
27,num_spells,20,1,player1,2016-06-08 18:47:53:735670
28,num_spells,20,1,player1,2016-06-08 18:47:53:764559
29,num_minions,278,1,player1,2016-06-08 18:47:53:757621
...,...,...,...,...,...
70,num_spells,1,1,player2,2016-06-08 18:47:54:273791
71,num_minions,0,1,player2,2016-06-08 18:47:54:346030
72,player1_class,CardClass.PRIEST,1,player1,2016-06-08 18:47:54:327266
73,num_spells,1,1,player2,2016-06-08 18:47:54:294690
74,num_weapons,0,1,player2,2016-06-08 18:47:54:367758
75,num_weapons,0,1,player2,2016-06-08 18:47:54:380014
76,player2_class,CardClass.DRUID,1,player2,2016-06-08 18:47:54:390981
77,num_weapons,0,1,player2,2016-06-08 18:47:54:398793
78,num_spells,0,1,player2,2016-06-08 18:47:54:391320
79,first_player,Player2,1,Player2,2016-06-08 18:47:54:432609
80,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:453929
81,player1_class,CardClass.PALADIN,1,player1,2016-06-08 18:47:54:392972
82,player1_class,CardClass.MAGE,1,player1,2016-06-08 18:47:54:411686
83,num_weapons,0,1,player2,2016-06-08 18:47:54:475975
84,player2_class,CardClass.MAGE,1,player2,2016-06-08 18:47:54:492240
85,player2_class,CardClass.HUNTER,1,player2,2016-06-08 18:47:54:502493
86,cards_mulliganed,[Master Jouster],1,Player1,2016-06-08 18:47:54:499830
87,num_weapons,1,1,player2,2016-06-08 18:47:54:289245
88,first_player,Player2,1,Player2,2016-06-08 18:47:54:563646
89,num_weapons,1,1,player2,2016-06-08 18:47:54:317290
90,cards_kept,"[Shadowform, Lightspawn, Lost Tallstrider]",1,Player1,2016-06-08 18:47:54:570910
91,first_player,Player1,1,Player1,2016-06-08 18:47:54:530893
92,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:524600
93,player2_class,CardClass.WARRIOR,1,player2,2016-06-08 18:47:54:507291
94,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:598598
95,turn_begins,1,1,Player2,2016-06-08 18:47:54:609618
96,player2_class,CardClass.WARLOCK,1,player2,2016-06-08 18:47:54:652508
97,cards_mulliganed,[],1,Player1,2016-06-08 18:47:54:641989
98,max_mana,1,1,Player2,2016-06-08 18:47:54:670589
99,first_player,Player2,1,Player2,2016-06-08 18:47:54:695258

In [83]:
def expand_decks(df):
    ndf = pd.concat([df]*len(df.event_value.values[0]), ignore_index=True)
    ndf['event_value'] = df.event_value.values[0]
    ndf['event_iter'] = range(ndf.shape[0])
    return ndf

In [84]:
ndf = pd.concat([df]*len(df.event_value.values[0]), ignore_index=True)
ndf['event_value'] = df.event_value.values[0]
ndf['event_iter'] = range(ndf.shape[0])

ValueError: Length of values does not match length of index

In [85]:
df.event_key.unique()

array([u'deck', u'deck_cost', u'num_minions', u'num_spells',
       u'num_weapons', u'player1_class', u'player2_class', u'first_player',
       u'cards_mulliganed', u'cards_kept', u'turn_begins', u'max_mana',
       u'avg_hand_cost', u'mana_used', u'turn_end', u'hero_health',
       u'hero_power', u'lost', u'overdraw'], dtype=object)

In [86]:
decks_times = df.loc[df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]

In [69]:
decks_times = df.loc[df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
decks = decks_times.groupby('timestamp').apply(expand_decks).reset_index(drop=True)

ValueError: No objects to concatenate

In [29]:
decks.head(10)

,event_key,event_value,game_id,player,timestamp,event_iter
0,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,0
1,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,1
2,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,2
3,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,3
4,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,4
5,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,5
6,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,6
7,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,7
8,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,8
9,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438,9

In [30]:
nodecks = df[~df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
nodecks['event_iter'] = 0
expanded = pd.concat([decks, nodecks], ignore_index=True)
expanded.sort_values(['event_key','event_iter','player','timestamp'], inplace=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [35]:
expanded

,event_key,event_value,game_id,player,timestamp,event_iter
998811,avg_hand_cost,3.75,1,Player1,2016-06-08 18:47:55:080150,0
998822,avg_hand_cost,3.4,1,Player1,2016-06-08 18:47:55:241967,0
998834,avg_hand_cost,4.33333333333,1,Player1,2016-06-08 18:47:55:405598,0
998833,avg_hand_cost,4.0,1,Player1,2016-06-08 18:47:55:455376,0
998870,avg_hand_cost,1.5,1,Player1,2016-06-08 18:47:55:795405,0
998899,avg_hand_cost,3.4,1,Player1,2016-06-08 18:47:56:128586,0
998900,avg_hand_cost,2.4,1,Player1,2016-06-08 18:47:56:165903,0
998895,avg_hand_cost,4.0,1,Player1,2016-06-08 18:47:56:180581,0
998919,avg_hand_cost,3.5,1,Player1,2016-06-08 18:47:56:453777,0
998946,avg_hand_cost,4.25,1,Player1,2016-06-08 18:47:56:664127,0
998942,avg_hand_cost,3.83333333333,1,Player1,2016-06-08 18:47:56:706533,0
998967,avg_hand_cost,3.75,1,Player1,2016-06-08 18:47:56:929633,0
998963,avg_hand_cost,3.4,1,Player1,2016-06-08 18:47:56:965134,0
998997,avg_hand_cost,3.4,1,Player1,2016-06-08 18:47:57:180575,0
999022,avg_hand_cost,3.6,1,Player1,2016-06-08 18:47:57:518684,0
999043,avg_hand_cost,3.33333333333,1,Player1,2016-06-08 18:47:57:807552,0
999044,avg_hand_cost,3.85714285714,1,Player1,2016-06-08 18:47:57:823616,0
999052,avg_hand_cost,3.4,1,Player1,2016-06-08 18:47:57:914952,0
999064,avg_hand_cost,4.8,1,Player1,2016-06-08 18:47:58:087190,0
999086,avg_hand_cost,6.4,1,Player1,2016-06-08 18:47:58:332982,0
999089,avg_hand_cost,4.4,1,Player1,2016-06-08 18:47:58:350396,0
999123,avg_hand_cost,3.0,1,Player1,2016-06-08 18:47:58:766552,0
999139,avg_hand_cost,3.57142857143,1,Player1,2016-06-08 18:47:58:959458,0
999143,avg_hand_cost,4.2,1,Player1,2016-06-08 18:47:59:045052,0
999158,avg_hand_cost,3.57142857143,1,Player1,2016-06-08 18:47:59:213687,0
999160,avg_hand_cost,4.2,1,Player1,2016-06-08 18:47:59:243600,0
999190,avg_hand_cost,4.5,1,Player1,2016-06-08 18:47:59:449421,0
999195,avg_hand_cost,5.66666666667,1,Player1,2016-06-08 18:47:59:652598,0
999219,avg_hand_cost,3.8,1,Player1,2016-06-08 18:47:59:927420,0
999248,avg_hand_cost,5.0,1,Player1,2016-06-08 18:48:00:249814,0
...,...,...,...,...,...,...
1181448,turn_end,7,1401,Player2,2016-06-09 22:32:50:236312,0
1181451,turn_end,9,1401,Player2,2016-06-09 22:32:50:240057,0
1181462,turn_end,9,1401,Player2,2016-06-09 22:32:50:278009,0
1181485,turn_end,9,1401,Player2,2016-06-09 22:32:50:656297,0
1181515,turn_end,9,1401,Player2,2016-06-09 22:32:51:009977,0
1181522,turn_end,10,1401,Player2,2016-06-09 22:32:51:106107,0
1181579,turn_end,11,1401,Player2,2016-06-09 22:32:51:506111,0
1181564,turn_end,9,1401,Player2,2016-06-09 22:32:51:651988,0
1181568,turn_end,10,1401,Player2,2016-06-09 22:32:51:735005,0
1181588,turn_end,8,1401,Player2,2016-06-09 22:32:51:972681,0
1181608,turn_end,11,1401,Player2,2016-06-09 22:32:52:174923,0
1181614,turn_end,11,1401,Player2,2016-06-09 22:32:52:318223,0
1181618,turn_end,9,1401,Player2,2016-06-09 22:32:52:331792,0
1181630,turn_end,11,1401,Player2,2016-06-09 22:32:52:424790,0
1181676,turn_end,11,1401,Player2,2016-06-09 22:32:53:005756,0
1181674,turn_end,12,1401,Player2,2016-06-09 22:32:53:055361,0
1181702,turn_end,11,1401,Player2,2016-06-09 22:32:53:283188,0
1181712,turn_end,13,1401,Player2,2016-06-09 22:32:53:381036,0
1181713,turn_end,10,1401,Player2,2016-06-09 22:32:53:494423,0
1181728,turn_end,12,1401,Player2,2016-06-09 22:32:53:655524,0
1181743,turn_end,13,1401,Player2,2016-06-09 22:32:53:867521,0
1181760,turn_end,13,1401,Player2,2016-06-09 22:32:54:021864,0
1181814,turn_end,13,1402,Player2,2016-06-09 22:32:54:451637,0
1181799,turn_end,11,1402,Player2,2016-06-09 22:32:54:560635,0
1181823,turn_end,14,1402,Player2,2016-06-09 22:32:54:792376,0
1181824,turn_end,13,1402,Player2,2016-06-09 22:32:54:979950,0
1181856,turn_end,15,1402,Player2,2016-06-09 22:32:55:337115,0
1181864,turn_end,12,1402,Player2,2016-06-09 22:32:55:367315,0
1181876,turn_end,14,1402,Player2,2016-06-09 22:32:55:606481,0
1181895,turn_end,15,1402,Player2,2016-06-09 22:32:55:725474,0

In [ ]:
df.event_key.unique()

In [ ]:
df.ix[6, 0]

In [ ]:
df.ix[7]

In [ ]:
turns = pd.DataFrame([])

In [ ]:
for x in df.event_key.unique():
    if x in ['turn_begins', 'max_mana', 'avg_hand_cost', 'mana_used', 'turn_end', 'hero_health', 'hero_power', 'overdraw']:
        idx = df.event_key[df.event_key == x].index.tolist()
        turns = turns.append(df.ix[idx])

In [ ]:
turns = turns[turns['game_id'] != 1]

In [ ]:
turns.sort_values(by = ['game_id', 'event_value'], ascending = True, inplace = True)

In [ ]:
for x in turns.event_value[900:1000]:
    try:
        turns.event_value[turns.event_value == x] = turns.event_value[turns.event_value == x].map(lambda y: float(y))
    except ValueError:
        pass

In [ ]:
turns

In [ ]:
df_pivot = df.pivot_table(index = 'game_id', columns=['event_key', 'player'], values='event_value', aggfunc=lambda x: ' '.join(x))
df_pivot.head()

In [ ]:
def normalize(row):
    print eval(row.event_value)
    row['dave'] = 2
    return row

df.head(2).apply(normalize, axis = 1)