In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import ast
from sqlalchemy import create_engine
%matplotlib inline

In [2]:
engine = create_engine('sqlite:///hs_sims1.db')

df = pd.read_sql('SELECT * FROM EVENTS', con = engine)

In [3]:
del df['index']

In [4]:
df.dtypes

event_key      object
event_value    object
game_id         int64
player         object
timestamp      object
dtype: object

In [5]:
df.head()

,event_key,event_value,game_id,player,timestamp
0,deck,"['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', '...",1,player1,2016-06-08 18:47:53:334438
1,deck,"['GVG_081', 'AT_106', 'OG_090', 'AT_070', 'EX1...",1,player1,2016-06-08 18:47:53:370128
2,deck,"['FP1_015', 'OG_133', 'EX1_572', 'EX1_558', 'N...",1,player1,2016-06-08 18:47:53:374504
3,deck,"['CS2_226', 'NEW1_019', 'CS2_186', 'BRM_033', ...",1,player1,2016-06-08 18:47:53:381442
4,deck,"['EX1_556', 'EX1_170', 'EX1_011', 'OG_254', 'E...",1,player1,2016-06-08 18:47:53:411713

In [6]:
# converting unicode values to strings
df = df.astype(str)

# cleaning the event_values column
df.event_value.replace(to_replace = ['<', '>', '\(', '\)', 'Minion ', 'Spell ', 'Weapon ', 'Secret '],
           value = '', regex = True, inplace = True)

In [7]:
# converting strings to lists
for i in range(len(df.event_key)):
    if df.event_key[i] in ['deck', 'cards_mulliganed', 'cards_kept']:
        df.event_value[i] = ast.literal_eval(df.event_value[i])

In [8]:
df.head(100)

,event_key,event_value,game_id,player,timestamp
0,deck,"[FP1_027, EX1_509, NEW1_029, OG_134, GVG_071, ...",1,player1,2016-06-08 18:47:53:334438
1,deck,"[GVG_081, AT_106, OG_090, AT_070, EX1_007, CS2...",1,player1,2016-06-08 18:47:53:370128
2,deck,"[FP1_015, OG_133, EX1_572, EX1_558, NEW1_041, ...",1,player1,2016-06-08 18:47:53:374504
3,deck,"[CS2_226, NEW1_019, CS2_186, BRM_033, FP1_030,...",1,player1,2016-06-08 18:47:53:381442
4,deck,"[EX1_556, EX1_170, EX1_011, OG_254, EX1_044, G...",1,player1,2016-06-08 18:47:53:411713
5,deck,"[EX1_009, OG_122, EX1_050, EX1_062, OG_321, GV...",1,player1,2016-06-08 18:47:53:405278
6,deck,"[AT_101, EX1_341, EX1_284, EX1_085, LOE_111, G...",1,player1,2016-06-08 18:47:53:388548
7,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:486023
8,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:545314
9,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:538533
10,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:550650
11,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:520927
12,num_minions,278,1,player1,2016-06-08 18:47:53:602498
13,deck,"[AT_113, OG_174, CS1_069, GVG_095, EX1_045, AT...",1,player1,2016-06-08 18:47:53:392971
14,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:528816
15,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:576472
16,num_minions,278,1,player1,2016-06-08 18:47:53:611826
17,num_minions,278,1,player1,2016-06-08 18:47:53:625147
18,num_minions,278,1,player1,2016-06-08 18:47:53:621180
19,num_spells,20,1,player1,2016-06-08 18:47:53:639183
20,num_minions,278,1,player1,2016-06-08 18:47:53:586315
21,num_spells,20,1,player1,2016-06-08 18:47:53:712928
22,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:658557
23,num_minions,278,1,player1,2016-06-08 18:47:53:683714
24,num_spells,20,1,player1,2016-06-08 18:47:53:688536
25,num_weapons,2,1,player1,2016-06-08 18:47:53:723831
26,num_spells,20,1,player1,2016-06-08 18:47:53:745316
27,num_spells,20,1,player1,2016-06-08 18:47:53:735670
28,num_spells,20,1,player1,2016-06-08 18:47:53:764559
29,num_minions,278,1,player1,2016-06-08 18:47:53:757621
...,...,...,...,...,...
70,num_spells,1,1,player2,2016-06-08 18:47:54:273791
71,num_minions,0,1,player2,2016-06-08 18:47:54:346030
72,player1_class,CardClass.PRIEST,1,player1,2016-06-08 18:47:54:327266
73,num_spells,1,1,player2,2016-06-08 18:47:54:294690
74,num_weapons,0,1,player2,2016-06-08 18:47:54:367758
75,num_weapons,0,1,player2,2016-06-08 18:47:54:380014
76,player2_class,CardClass.DRUID,1,player2,2016-06-08 18:47:54:390981
77,num_weapons,0,1,player2,2016-06-08 18:47:54:398793
78,num_spells,0,1,player2,2016-06-08 18:47:54:391320
79,first_player,Player2,1,Player2,2016-06-08 18:47:54:432609
80,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:453929
81,player1_class,CardClass.PALADIN,1,player1,2016-06-08 18:47:54:392972
82,player1_class,CardClass.MAGE,1,player1,2016-06-08 18:47:54:411686
83,num_weapons,0,1,player2,2016-06-08 18:47:54:475975
84,player2_class,CardClass.MAGE,1,player2,2016-06-08 18:47:54:492240
85,player2_class,CardClass.HUNTER,1,player2,2016-06-08 18:47:54:502493
86,cards_mulliganed,[Master Jouster],1,Player1,2016-06-08 18:47:54:499830
87,num_weapons,1,1,player2,2016-06-08 18:47:54:289245
88,first_player,Player2,1,Player2,2016-06-08 18:47:54:563646
89,num_weapons,1,1,player2,2016-06-08 18:47:54:317290
90,cards_kept,"[Shadowform, Lightspawn, Lost Tallstrider]",1,Player1,2016-06-08 18:47:54:570910
91,first_player,Player1,1,Player1,2016-06-08 18:47:54:530893
92,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:524600
93,player2_class,CardClass.WARRIOR,1,player2,2016-06-08 18:47:54:507291
94,player1_class,CardClass.WARLOCK,1,player1,2016-06-08 18:47:54:598598
95,turn_begins,1,1,Player2,2016-06-08 18:47:54:609618
96,player2_class,CardClass.WARLOCK,1,player2,2016-06-08 18:47:54:652508
97,cards_mulliganed,[],1,Player1,2016-06-08 18:47:54:641989
98,max_mana,1,1,Player2,2016-06-08 18:47:54:670589
99,first_player,Player2,1,Player2,2016-06-08 18:47:54:695258

In [17]:
type(df.ix[98, 1])

str

In [36]:
def expand_decks(df):
    if len(df.event_value.values[0]) == 0:
        df['event_value'] = 'NONE'
        df['event_iter'] = 0.
        return df
    else:
        ndf = pd.concat([df]*len(df.event_value.values[0]), ignore_index=True)
        ndf['event_value'] = df.event_value.values[0]
        ndf['event_iter'] = range(ndf.shape[0])
        return ndf

In [37]:
decks_times = df.loc[df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
decks = decks_times.groupby('timestamp').apply(expand_decks).reset_index(drop=True)

In [38]:
decks[decks.event_key == 'cards_mulliganed']

,event_key,event_value,game_id,player,timestamp,event_iter
480,cards_mulliganed,Master Jouster,1,Player1,2016-06-08 18:47:54:499830,0.0
484,cards_mulliganed,NONE,1,Player1,2016-06-08 18:47:54:602784,0.0
485,cards_mulliganed,NONE,1,Player1,2016-06-08 18:47:54:641989,0.0
489,cards_mulliganed,Drakonid Crusher,1,Player2,2016-06-08 18:47:54:726264,0.0
494,cards_mulliganed,NONE,1,Player1,2016-06-08 18:47:54:748374,0.0
497,cards_mulliganed,Ice Rager,1,Player1,2016-06-08 18:47:54:812724,0.0
498,cards_mulliganed,Mini-Mage,1,Player1,2016-06-08 18:47:54:812724,1.0
504,cards_mulliganed,Animated Armor,1,Player2,2016-06-08 18:47:54:968796,0.0
505,cards_mulliganed,Light's Champion,1,Player1,2016-06-08 18:47:54:985587,0.0
506,cards_mulliganed,Grimscale Oracle,1,Player1,2016-06-08 18:47:54:985587,1.0
507,cards_mulliganed,NONE,1,Player2,2016-06-08 18:47:55:030505,0.0
508,cards_mulliganed,A Light in the Darkness,1,Player1,2016-06-08 18:47:55:033536,0.0
509,cards_mulliganed,Darkscale Healer,1,Player1,2016-06-08 18:47:55:033536,1.0
510,cards_mulliganed,Disciple of C'Thun,1,Player1,2016-06-08 18:47:55:033536,2.0
518,cards_mulliganed,Ironforge Rifleman,1,Player2,2016-06-08 18:47:55:142339,0.0
519,cards_mulliganed,Core Hound,1,Player2,2016-06-08 18:47:55:142339,1.0
520,cards_mulliganed,The Black Knight,1,Player2,2016-06-08 18:47:55:142339,2.0
521,cards_mulliganed,Flamewreathed Faceless,1,Player2,2016-06-08 18:47:55:142339,3.0
523,cards_mulliganed,Mountain Giant,1,Player1,2016-06-08 18:47:55:175579,0.0
524,cards_mulliganed,NONE,1,Player2,2016-06-08 18:47:55:228175,0.0
528,cards_mulliganed,Hungry Dragon,1,Player2,2016-06-08 18:47:55:282252,0.0
529,cards_mulliganed,Summoning Stone,1,Player2,2016-06-08 18:47:55:307010,0.0
539,cards_mulliganed,Stoneskin Gargoyle,1,Player2,2016-06-08 18:47:55:482142,0.0
540,cards_mulliganed,Dr. Boom,1,Player2,2016-06-08 18:47:55:482142,1.0
541,cards_mulliganed,Twilight Elder,1,Player2,2016-06-08 18:47:55:482142,2.0
603,cards_mulliganed,Reckless Rocketeer,4,Player1,2016-06-08 18:48:06:521429,0.0
604,cards_mulliganed,Infested Tauren,4,Player1,2016-06-08 18:48:06:521429,1.0
605,cards_mulliganed,Thrallmar Farseer,4,Player1,2016-06-08 18:48:06:521429,2.0
667,cards_mulliganed,Southsea Captain,5,Player2,2016-06-08 18:48:06:947923,0.0
668,cards_mulliganed,Stoneskin Gargoyle,5,Player2,2016-06-08 18:48:06:947923,1.0
...,...,...,...,...,...,...
80901,cards_mulliganed,Cult Master,1401,Player1,2016-06-09 22:32:43:366651,1.0
80902,cards_mulliganed,Ravenholdt Assassin,1401,Player1,2016-06-09 22:32:43:366651,2.0
80904,cards_mulliganed,Mana Addict,1401,Player1,2016-06-09 22:32:43:405653,0.0
80905,cards_mulliganed,Frigid Snobold,1401,Player1,2016-06-09 22:32:43:405653,1.0
80906,cards_mulliganed,Fire Elemental,1401,Player1,2016-06-09 22:32:43:405653,2.0
80907,cards_mulliganed,Thing from Below,1401,Player1,2016-06-09 22:32:43:405653,3.0
80909,cards_mulliganed,Felguard,1401,Player2,2016-06-09 22:32:43:449202,0.0
80910,cards_mulliganed,Dragon Egg,1401,Player2,2016-06-09 22:32:43:449202,1.0
80911,cards_mulliganed,Rend Blackhand,1401,Player2,2016-06-09 22:32:43:449202,2.0
80914,cards_mulliganed,NONE,1401,Player2,2016-06-09 22:32:43:562194,0.0
80915,cards_mulliganed,Big Game Hunter,1401,Player1,2016-06-09 22:32:43:646955,0.0
80916,cards_mulliganed,Twisted Worgen,1401,Player1,2016-06-09 22:32:43:646955,1.0
80920,cards_mulliganed,Violet Teacher,1401,Player2,2016-06-09 22:32:43:703888,0.0
80921,cards_mulliganed,NONE,1401,Player1,2016-06-09 22:32:43:727483,0.0
80922,cards_mulliganed,Chromaggus,1401,Player2,2016-06-09 22:32:43:748589,0.0
80923,cards_mulliganed,Shadowbomber,1401,Player1,2016-06-09 22:32:43:775016,0.0
80924,cards_mulliganed,Goblin Sapper,1401,Player1,2016-06-09 22:32:43:775016,1.0
80927,cards_mulliganed,Soggoth the Slitherer,1401,Player2,2016-06-09 22:32:43:779784,0.0
80928,cards_mulliganed,Eydis Darkbane,1401,Player2,2016-06-09 22:32:43:779784,1.0
80940,cards_mulliganed,NONE,1401,Player2,2016-06-09 22:32:44:068844,0.0
80945,cards_mulliganed,Twilight Drake,1401,Player2,2016-06-09 22:32:44:221638,0.0
80946,cards_mulliganed,Mukla's Champion,1401,Player2,2016-06-09 22:32:44:221638,1.0
80947,cards_mulliganed,The Beast,1401,Player1,2016-06-09 22:32:44:267105,0.0
80948,cards_mulliganed,Power Word: Tentacles,1401,Player1,2016-06-09 22:32:44:267105,1.0
80949,cards_mulliganed,Amani Berserker,1401,Player1,2016-06-09 22:32:44:267105,2.0
80952,cards_mulliganed,Bomb Lobber,1401,Player2,2016-06-09 22:32:44:496308,0.0
80953,cards_mulliganed,Nozdormu,1401,Player2,2016-06-09 22:32:44:591647,0.0
80954,cards_mulliganed,Embrace the Shadow,1401,Player2,2016-06-09 22:32:44:591647,1.0
80955,cards_mulliganed,Blood Knight,1401,Player2,2016-06-09 22:32:44:591647,2.0
80956,cards_mulliganed,Ogre Magi,1401,Player2,2016-06-09 22:32:44:591647,3.0

In [25]:
df.event_value.values

array([ ['FP1_027', 'EX1_509', 'NEW1_029', 'OG_134', 'GVG_071', 'EX1_583', 'EX1_620', 'EX1_009', 'GVG_108', 'OG_300', 'AT_096', 'CS2_181', 'NEW1_025', 'GVG_084', 'OG_286', 'CS2_092', 'GVG_117', 'NEW1_018', 'OG_284', 'CS1_042', 'AT_127', 'EX1_029', 'GVG_064', 'EX1_363', 'EX1_284', 'EX1_097', 'OG_152', 'EX1_382', 'AT_113', 'LOE_038'],
       ['GVG_081', 'AT_106', 'OG_090', 'AT_070', 'EX1_007', 'CS2_221', 'AT_109', 'EX1_614', 'CS2_168', 'LOE_089', 'EX1_560', 'CS2_221', 'EX1_011', 'GVG_118', 'EX1_287', 'AT_113', 'AT_118', 'AT_093', 'CS2_117', 'EX1_044', 'NEW1_023', 'AT_113', 'FP1_028', 'FP1_027', 'EX1_393', 'AT_082', 'CS2_181', 'GVG_069', 'EX1_508', 'LOE_047'],
       ['FP1_015', 'OG_133', 'EX1_572', 'EX1_558', 'NEW1_041', 'FP1_007', 'GVG_025', 'EX1_105', 'AT_123', 'OG_340', 'EX1_043', 'CS2_121', 'EX1_577', 'AT_034', 'EX1_131', 'CS2_179', 'PRO_001', 'LOEA10_3', 'EX1_284', 'EX1_011', 'OG_102', 'AT_131', 'CS2_200', 'AT_115', 'EX1_508', 'EX1_557', 'AT_114', 'OG_267', 'LOE_010', 'CS2_186'],
       ..., '8', '7', '15'], dtype=object)

In [26]:
ndf = pd.concat([df]*len(df.event_value.values[0]), ignore_index=True)

for i in range(len(ndf.event_key)):
    if type(df.event_value[i]) == list:
        ndf['event_value'][i] = df.event_value.values[i][0]
    else:

In [27]:
ndf

,event_key,event_value,game_id,player,timestamp
0,deck,3.95333333333,1,player1,2016-06-08 18:47:53:334438
1,deck,3.95333333333,1,player1,2016-06-08 18:47:53:370128
2,deck,3.95333333333,1,player1,2016-06-08 18:47:53:374504
3,deck,3.95333333333,1,player1,2016-06-08 18:47:53:381442
4,deck,3.95333333333,1,player1,2016-06-08 18:47:53:411713
5,deck,3.95333333333,1,player1,2016-06-08 18:47:53:405278
6,deck,3.95333333333,1,player1,2016-06-08 18:47:53:388548
7,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:486023
8,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:545314
9,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:538533
10,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:550650
11,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:520927
12,num_minions,3.95333333333,1,player1,2016-06-08 18:47:53:602498
13,deck,3.95333333333,1,player1,2016-06-08 18:47:53:392971
14,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:528816
15,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:576472
16,num_minions,3.95333333333,1,player1,2016-06-08 18:47:53:611826
17,num_minions,3.95333333333,1,player1,2016-06-08 18:47:53:625147
18,num_minions,3.95333333333,1,player1,2016-06-08 18:47:53:621180
19,num_spells,3.95333333333,1,player1,2016-06-08 18:47:53:639183
20,num_minions,3.95333333333,1,player1,2016-06-08 18:47:53:586315
21,num_spells,3.95333333333,1,player1,2016-06-08 18:47:53:712928
22,deck_cost,3.95333333333,1,player1,2016-06-08 18:47:53:658557
23,num_minions,3.95333333333,1,player1,2016-06-08 18:47:53:683714
24,num_spells,3.95333333333,1,player1,2016-06-08 18:47:53:688536
25,num_weapons,3.95333333333,1,player1,2016-06-08 18:47:53:723831
26,num_spells,3.95333333333,1,player1,2016-06-08 18:47:53:745316
27,num_spells,3.95333333333,1,player1,2016-06-08 18:47:53:735670
28,num_spells,3.95333333333,1,player1,2016-06-08 18:47:53:764559
29,num_minions,3.95333333333,1,player1,2016-06-08 18:47:53:757621
...,...,...,...,...,...
5708700,hero_health,3.95333333333,1402,Player1,2016-06-09 22:32:55:414140
5708701,avg_hand_cost,3.95333333333,1402,Player1,2016-06-09 22:32:55:475587
5708702,mana_used,3.95333333333,1402,Player2,2016-06-09 22:32:55:493935
5708703,player1_class,3.95333333333,1402,player1,2016-06-09 22:32:55:485553
5708704,avg_hand_cost,3.95333333333,1402,Player1,2016-06-09 22:32:55:521271
5708705,mana_used,3.95333333333,1402,Player1,2016-06-09 22:32:55:481003
5708706,mana_used,3.95333333333,1402,Player1,2016-06-09 22:32:55:589500
5708707,player2_class,3.95333333333,1402,player2,2016-06-09 22:32:55:610319
5708708,hero_health,3.95333333333,1402,Player2,2016-06-09 22:32:55:572374
5708709,max_mana,3.95333333333,1402,Player2,2016-06-09 22:32:55:451194
5708710,turn_end,3.95333333333,1402,Player2,2016-06-09 22:32:55:606481
5708711,hero_health,3.95333333333,1402,Player1,2016-06-09 22:32:55:536291
5708712,turn_end,3.95333333333,1402,Player1,2016-06-09 22:32:55:655995
5708713,mana_used,3.95333333333,1402,Player1,2016-06-09 22:32:55:569635
5708714,mana_used,3.95333333333,1402,Player2,2016-06-09 22:32:55:527798
5708715,turn_end,3.95333333333,1402,Player1,2016-06-09 22:32:55:642119
5708716,mana_used,3.95333333333,1402,Player1,2016-06-09 22:32:55:637414
5708717,first_player,3.95333333333,1402,Player2,2016-06-09 22:32:55:661670
5708718,hero_health,3.95333333333,1402,Player1,2016-06-09 22:32:55:697521
5708719,turn_end,3.95333333333,1402,Player1,2016-06-09 22:32:55:721785
5708720,avg_hand_cost,3.95333333333,1402,Player2,2016-06-09 22:32:55:694939
5708721,hero_health,3.95333333333,1402,Player2,2016-06-09 22:32:55:709224
5708722,turn_begins,3.95333333333,1402,Player1,2016-06-09 22:32:55:668240
5708723,hero_health,3.95333333333,1402,Player1,2016-06-09 22:32:55:742080
5708724,hero_health,3.95333333333,1402,Player1,2016-06-09 22:32:55:811026
5708725,turn_begins,3.95333333333,1402,Player1,2016-06-09 22:32:55:825460
5708726,hero_health,3.95333333333,1402,Player2,2016-06-09 22:32:55:782013
5708727,mana_used,3.95333333333,1402,Player2,2016-06-09 22:32:55:818791
5708728,max_mana,3.95333333333,1402,Player1,2016-06-09 22:32:55:867261
5708729,turn_end,3.95333333333,1402,Player2,2016-06-09 22:32:55:725474

In [30]:
nodecks = df[~df.event_key.isin(['deck','cards_mulliganed','cards_kept'])]
nodecks['event_iter'] = 0
expanded = pd.concat([decks, nodecks], ignore_index=True)
expanded.sort_values(['event_key','event_iter','player','timestamp'], inplace=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [ ]:
df.event_key.unique()

In [ ]:
df.ix[6, 0]

In [ ]:
df.ix[7]

In [ ]:
turns = pd.DataFrame([])

In [ ]:
for x in df.event_key.unique():
    if x in ['turn_begins', 'max_mana', 'avg_hand_cost', 'mana_used', 'turn_end', 'hero_health', 'hero_power', 'overdraw']:
        idx = df.event_key[df.event_key == x].index.tolist()
        turns = turns.append(df.ix[idx])

In [ ]:
turns = turns[turns['game_id'] != 1]

In [ ]:
turns.sort_values(by = ['game_id', 'event_value'], ascending = True, inplace = True)

In [ ]:
for x in turns.event_value[900:1000]:
    try:
        turns.event_value[turns.event_value == x] = turns.event_value[turns.event_value == x].map(lambda y: float(y))
    except ValueError:
        pass

In [ ]:
turns

In [ ]:
df_pivot = df.pivot_table(index = 'game_id', columns=['event_key', 'player'], values='event_value', aggfunc=lambda x: ' '.join(x))
df_pivot.head()

In [ ]:
def normalize(row):
    print eval(row.event_value)
    row['dave'] = 2
    return row

df.head(2).apply(normalize, axis = 1)